@model ProductPanierModel

@{
}


<h1 class="Display-4" >Mon panier</h1>


<div class="row">


    @if (Model != null && Model.Produits.Count > 0)
    {
        <div class="row">

            @foreach (var produit in Model.Produits)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="@produit.Image" class="card-img-top" alt="Image du produit">
                        <div class="card-body">
                            <h5 class="card-title">@produit.Name</h5>
                            <p class="card-text">@produit.Description</p>
                            <p class="card-text"><strong>Prix : @produit.Price</strong></p>
                            <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Je passe au payement</button>
                            </div>

                            <form method="post" action="@Url.Action("delete", "Panier")" >
                                <input type="hidden" name="idProduit" value="@produit.Id" />
                                <input type="hidden" name="iduser" value="@Model.IdUser" />
                                <button type="submit" class="btn btn-primary">Suprimer du panier</button>
                            </form>


                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Votre panier est vide.</p>
    }


</div>